@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-purple: #79397d;
  --color-purple-dark: #531f6e;
  --color-purple-light: #f3eaf9;
  --color-purple-muted: #e8daf3;
  --color-custom-beige: #edede0;

  --color-yellow: #fcc64d;
  --color-yellow-dark: #d99b10;
  --color-yellow-light: #fefce8;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
}

/*reset*/
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

body {
  font-family: var(--font-sans);
  /* background-color: #edede0; */
  color: #111827;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  /* text-decoration: none; */
  /* color: inherit; */
}
button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
}
img {
 /* display: block;
  max-width: 100%;*/
}
